body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    /*background-image: url("/img/fondo.png") ;*/
    width: 100%;
    display: flex;
    background-color: peachpuff;
}

    header h1 {
        color: salmon;
        font-size: 40px;
        font-weight: 100;
        font-style: italic;
        display: inline-block;
        position: relative;
        margin-left: 20px;
        bottom: 35%;
    }

nav {
    background-color: darksalmon;
    margin-bottom: 20px;
}

    nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            flex-grow: 1;
        }

            nav ul li a {
                text-decoration: none;
                color: brown;
                display: block;
                text-align: center;
                padding: 3px 6px;
            }

                nav ul li a:hover {
                    background-color: chocolate;
                }

footer {
    background-color: burlywood;
    padding: 20px 0px;
    margin-top: 0.5%;
    text-align: center;
    clear: both;
}

/* inicio de home */

.holder {
    max-width: 960px;
    margin: 0 auto;
}

nav ul li a.activo {
    background-color: chocolate;
}

h2 {
    color: salmon;
    font-weight: 400;
    padding: 0 6px 0 6px;
}

.bienvenidos {
    width: 75%;
    box-sizing: border-box;
    background-color: none;
    margin-left: 0%;
    font-size: 20px;
}

.testimonios {
    width: 25%;
    background-color: none;
    margin-right: 0;
    text-align: justify;
}

.columnas {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 5px 0px 0px 0%;
}

.columnas2 {
    display: flex;
    justify-content: normal;
    justify-items: center;
    padding: 0px 0px 0px 0%;
}

#mod1text {
    font-style: oblique;
}

main p {
    padding: 0 6px 0 6px;
}

.testimonio {
    background-color: darksalmon;
}

    .testimonio .cita {
        font-weight: bold;
        font-style: italic;
        font-size: 18px;
        background-color: darksalmon;
        display: block;/*importante para que el texto quede en bloque y no junto al lado del otro*/
        margin: 3px;
    }

    .testimonio .autor {
        font-size: 10px;
        text-align: center;
        background-color: salmon;
        display: block;
        margin: 12px 0;
    }

/*fin de home*/

/*inicio de nosotros*/

.historia p{
    font-size:12px;
    /*0.7rem*/
}
.persona{
    border: 1px solid darksalmon;
    border-radius: 5px;
    width:18%;
    text-align:center;
    padding:13px;
    box-sizing:border-box;
    /*background-color:orange;*/
}
.personas{
    display:flex;
    justify-content:space-evenly;
 }
.persona img{
    border-radius:50%;
    max-width:60%;
    box-shadow: 0 0 5px #000000 rgb(0,0,0,0.5);
    
}
.persona h5,
.persona h6{
    margin:0;
    font-weight:normal;
    color:salmon;
}
.persona p{
    color:#666;
    font-size:10px;
}

/*fin de nosotros*/

/* inicio servicios*/
.servicio {
    border: 1px solid salmon;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    grid-gap: 32px;
    align-items: center;
}
    .servicio .info h4 {
        color: darkorange;
        font-weight: 500;
        font-style: italic;
        border-bottom: 1px solid #c768c8;
        padding-bottom: 10px;
    }
    .servicio .info p{
        font-size:13px;
        line-height:19px;
    }
    .servicio img{
        border-radius:13px;
        display: block;
        max-width: 225px;
    }
    .servicio:nth-child(2n+1){
        flex-direction:row-reverse;
    }

/*fin servicios*/

/*inicio de galeria*/

.galeria img {
    width: 250px;
    border: 1px solid #c768c8;
    padding: 0.3em;
    box-sizing: border-box;
    margin-bottom:65px;
    margin-top: 30px;
    margin-left: 5%;
}
.galeria{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

/*fin de galeria*/

/*Inicio de Novedades*/
.novedades {
    margin-bottom: 10px;
}
.novedades p {
    border-bottom: 1px solid #c768c8;
    padding-bottom:15px;
    
}

/*Fin de Novedades*/

/*Inicio contactos*/

.contacto div {
    width: 100%;
 }
.contacto{
    display:flex;
    gap:24px;
}
.datos p{
    font-size:14px;
}
.datos ul li{
    font-size:13px;
}
.formulario p{
    display:flex;
    /*background: #6da9ed;*/
}
.formulario p label{
    min-width:100px;
}
    .formulario p input,
    .formulario p textarea {
        width: 100%;
        background: #d4e0ef;
    }
    .formulario p input,
    .formulario p textarea {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #666;
        font-size: 14px;
        padding: 6px 10px;
    }
.formulario textarea{
    resize:none;
    height:100px;
}
.formulario p:nth-child(4){
    align-items:start;
}
.formulario input[type="submit"]{
    background: #6da9ed;
    box-shadow:0 0 10px rgba(0,0,0,0.4);
    color:white;
    font-size:16px;
    padding: 6px 20px;
    width:auto;
    position:relative;
    left:6.2rem;
    cursor:pointer;
}
.formulario input[type="submit"]:hover{
    background-color: #2e64a1;
}
/*Fin contactos*/