body
{background-color:none;
}
.cuadrados {
    background-color: none;
    width: 1000px;
    height: 1000px;
   border: 1px solid #000000;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 20px;
}
/*.botones{
    max-width:500px;
    display:flex;
    justify-content:space-evenly;
    padding-top:5px;
}*/
.cuadrados div {
    /*border: 1px solid #000000;*/
    width: 10%;
    height: 10%;
    margin-top: 2%;
    justify-content: center; /* 1.- Elemento necesario para centrar al centro del div*/
    align-items: center; /* 1.- Elemento necesario para centrar al centro del div*/
    display: flex; /* 1.- Elemento necesario para centrar al centro del div*/
}
#col1{
    background:red;
}
#col2 {
    background-color: green;
}
#col3 {
    background-color: blue;
}
.cuadrados.rojo{
    background:red;
}
.cuadrados.verde {
    background: green;
}
.cuadrados.azul {
    background: blue;
}
.charnum {
    display: inline-block;
    padding-right: 500px;
    padding-top: 100px;
    margin-right:500px;
}
